{% extends "base.html" %}

{% block content %}

<h1> Your buggy </h1>

<table id="show-buggy">
    <tr>
      <td>ID:</td>
      <td> {{ buggy['id'] }} </td>
    </tr>

    
    <tr>
      <td>Number of Wheels:</td>
      <td> {{ buggy['qty_wheels'] }} </td>
    </tr>


    <tr>
      <td>Power Type:</td>
      <td> {{ buggy['power_type'] }} </td>
    </tr>


    <tr>
      <td>Power Units:</td>
      <td> {{ buggy['power_units'] }} </td>
    </tr>


    <tr>
      <td>Aux Power Type:</td>
      <td> {{ buggy['aux_power_type'] }} </td>
    </tr>


    <tr>
      <td>Aux Power Units:</td>
      <td> {{ buggy['aux_power_units'] }} </td>
    </tr>


    <tr>
      <td>Hamster Booster:</td>
      <td> {{ buggy['hamster_booster'] }} </td>
    </tr>


    <tr>
      <td>Flag Color:</td>
      <td type="color"> {{ buggy['flag_color'] }} </td>
    </tr>


    <tr>
      <td>Flag Pattern:</td>
      <td> {{ buggy['flag_pattern'] }} </td>
    </tr>


    <tr>
      <td>Flag Color Secondary:</td>
      <td> {{ buggy['flag_color_secondary'] }} </td>
    </tr>


    <tr>
      <td>Tyres:</td>
      <td> {{ buggy['tyres'] }} </td>
    </tr>


    <tr>
      <td>Number of Tyres:</td>
      <td> {{ buggy['qty_tyres'] }} </td>
    </tr>


    <tr>
      <td>Armour:</td>
      <td> {{ buggy['armour'] }} </td>
    </tr>


    <tr>
      <td>Attack:</td>
      <td> {{ buggy['attack'] }} </td>
    </tr>


    <tr>
      <td>Number of Attacks:</td>
      <td> {{ buggy['qty_attacks'] }} </td>
    </tr>

    <!--  Boolean vals are to be treated differently as, just leaving them by themselves like this will only display
          0s and 1s, not very user-understanding-friendly (if such an adjective even exists) -->
    <tr>
      <td>Fireproof?</td>
      <td> {{ "Yes" if buggy['fireproof'] else "No" }} </td>
    </tr>


    <tr>
      <td>Insulated?</td>
      <td> {{ "Yes" if buggy['insulated'] else "No" }} </td>
    </tr>


    <tr>
      <td>Antibiotic?</td>
      <td> {{ "Yes" if buggy['antibiotic'] else "No" }} </td>
    </tr>


    <tr>
      <td>Banging?</td>
      <td> {{ "Yes" if buggy['banging'] else "No" }} </td>
    </tr>


    <tr>
      <td>Algo:</td>
      <td> {{ buggy['algo'] }} </td>
    </tr>

</table>

{% endblock %}
