{% extends "base.html" %}

{% block content %}

  <!--
    Something to keep in mind:
      {% for worker in workers0 %}

      <option value="{{ worker.ID_worker }}">{{ worker.surname }}</option>

      {% endfor %}
  -->

<script type="text/javascript" src="static/form_validation.js"></script>

<h1>Create a new buggy</h1>

<p name="info">
  Welcome! In this page you can create a new buggy, which will be saved to this website's database. All default 
  values have already been chosen. Have fun!
</p>

<form name="buggyForm" onsubmit="return main();" action="/create" method="post">
  <table>

    <tr>
      <th>
        <label for="qty_wheels">Number of Wheels:</label>
      </th>
      <th>
        <input type="number" name="qty_wheels" value="4" step ="2" min="4" max="99"/>
      </th>
    </tr>
  
    <tr>
      <th>
        <label for="power_type">Power Type:</label>
      </th>
      <th>
        <select name="power_type">
          <!-- This snippet of code dynamicall generate HTML text by going through the 
                list of options passed through, and setting it as the default option
                if user has previously selected it based on what it gets from DB. 
                Better than hard-coding everything which is totally what I did do 
                as this was absolutely the first solution... -->
          {% for OP in power_type_ops %}
            <option {% if "petrol" == OP %} selected {%endif%} value="{{OP}}">{{OP.title()}}</option>
          {% endfor %}
        </select>
      </th>
    </tr>
    
    <tr>
      <th>
        <label for="power_units">Power units:</label>
      </th>
      <th>
        <input type="number" value="1" name="power_units" step ="1" min="1" max="99"/>
      </th>
    </tr>

    <tr>
      <th>
        <label for="aux_power_type">Aux Power Type:</label>
      </th>
      <th>
        <select name="aux_power_type"> 
          {% for OP in power_type_ops %}
            <option {% if "none" == OP %} selected {%endif%} value="{{OP}}">{{OP.title()}}</option>
          {% endfor %}
        </select>
      </th>
    </tr>
  
    <tr>
      <th>
        <label for="aux_power_units">Aux Power Units:</label>
      </th>
      <th>
        <input type="number" name="aux_power_units" value="0" step ="1" min="0" max="99"/>
      </th>
    </tr>
  
    <tr>
      <th>
        <label for="hamster_booster">Hamster Booster:</label>
      </th>
      <th>
        <input type="number" name="hamster_booster" value="0" step ="1" min="0" max="99"/>
      </th>
    </tr>

    <tr>
        <th>
          <label for="flag_color">Flag color:</label>
        </th>
        <th>
          <input type="color" value="#ffffff" name="flag_color" />
        </th>
    </tr>
  
    <tr>
      <th>
        <label for="flag_pattern">Flag Pattern:</label>
      </th>
      <th>
        <select name="flag_pattern">  
          {% for OP in flag_patts %}
            <option {% if "plain" == OP %} selected {%endif%} value="{{OP}}">{{OP.title()}}</option>
          {% endfor %}
        </select>
      </th>
    </tr>
  
    <tr>
      <th>
        <label for="flag_color_secondary">Flag Color Secondary:</label>
      </th>
      <th>
        <input type="color" value="#000000" name="flag_color_secondary" />
      </th>
    </tr>
  
    <tr>
      <th>
        <label for="tyres">Tyres:</label>
      </th>
      <th>
        <select name="tyres">
          {% for OP in tyres %}
            <option {% if "knobbly" == OP %} selected {%endif%} value="{{OP}}">{{OP.title()}}</option>
          {% endfor %}
        </select>
      </th>
    </tr>
  
    <tr>
      <th>
        <label for="qty_tyres">Number of Tyres:</label>
      </th>
      <th>
        <input type="number" name="qty_tyres" value="4" step ="2" min="4" max="99"/>
      </th>
    </tr>
  
    <tr>
      <th>
        <label for="armour">Armour:</label>
      </th>
      <th>
        <select name="armour">
          {% for OP in armor %}
            <option {% if "none" == OP %} selected {%endif%} value="{{OP}}">{{OP.title()}}</option>
          {% endfor %}
        </select>
      </th>
    </tr>
  
    <tr>
      <th>
        <label for="attack">Attack:</label>
      </th>
      <th>
        <select name="attack">
          {% for OP in attacks %}
            <option {% if "none" == OP %} selected {%endif%} value="{{OP}}">{{OP.title()}}</option>
          {% endfor %}
        </select>
      </th>
    </tr>
  
    <tr>
      <th>
        <label for="qty_attacks">Number of Attacks:</label>
      </th>
      <th>
        <input type="number" name="qty_attacks" value="0" step ="1" min="0" max="99"/>
      </th>
    </tr>
  
    <tr>
      <th>
        <label for="fireproof">Fireproof:</label>
      </th>
      <th>
        <input type="checkbox" name="fireproof"/>
      </th>
    </tr>
  
    <tr>
      <th>
        <label for="insulated">Insulated:</label>
      </th>
      <th>
        <input type="checkbox" name="insulated"/>
      </th>
    </tr>
  
    <tr>
      <th>
        <label for="antibiotic">Antibiotic:</label>
      </th>
      <th>
        <input type="checkbox" name="antibiotic"/>
      </th>
    </tr>
  
    <tr>
      <th>
        <label for="banging">Banging:</label>
      </th>
      <th>
        <input type="checkbox" name="banging"/>
      </th>
    </tr>
  
    <tr>
      <th>
        <label for="algo">Algo:</label>
      </th>
      <th>
        <select name="algo">
          {% for OP in ai %}
            <option {% if "steady" == OP %} selected {%endif%} value="{{OP}}">{{OP.title()}}</option>
          {% endfor %}
        </select>
      </th>
    </tr>

  </table>

  <input type="submit" class="button">

</form>

{% endblock %}
