{% extends "base.html" %}

{% block content %}

  <!--
    Something to keep in mind:
      {% for worker in workers0 %}

      <option value="{{ worker.ID_worker }}">{{ worker.surname }}</option>

      {% endfor %}
  -->

<script type="text/javascript" src="static/form_validation.js"></script>

<h1>Edit your buggy</h1>

<p name="info">
  Welcome! In this page you can customise your buggie's each attribute. Each field is already filled with saved options, 
  edit them and submit them to update the database. Have fun!
</p>

{% include "form_table.html" %}

{% endblock %}
