{% extends "base.html" %}

{% block content %}

<h1>
  My buggy editor
</h1>


<p>
  Use this editor to specify a racing buggy. The editor saves it in its
  little database and generates JSON data for the buggy. This is the data you
  need to supply when you log into the
  <strong><a href="{{ server_url }}">race server</a></strong> and enter your
  buggy into the next race.
</p>
<p>
  To create a buggy, please create an account with an email and password. Once logged in, you can create as 
  many buggies as you want, and it will only be accessible within your own account.
</p>

{% endblock %}
