{% extends "base.html" %}

{% block content %}

<h1> <u> Prices for each attribute </u> </h1> 

<div class="spec">
  <h3 class="spec-title"> Types of motive power </h3>

  <div class="records">
    <p> <b> Your buggy: </b> <code> {{ buggy['power_type'] }} </code> </p>
  </div>

  <div class="sup-ast">
    <sup>*</sup>You can only have one unit of non-consumable power (e.g., a single reactor) per motive force.
  </div>

  <div class="specs-table">
    {{ specs[0] | safe }}
  </div>

  
</div>

<div class="spec">
  <h3 class="spec-title">
    Types of tyre
  </h3>

  <div class="records">
    <p> <b> Your buggy: </b>  <code> {{ buggy['tyres'] }} </code> </p>
  </div>

  <div class="specs-table">
    {{ specs[1] | safe }}
  </div>
</div>

<div class="spec">
  <h3 class="spec-title">
    Types of armour
  </h3>

  <div class="records">
    <p> <b> Your buggy: </b> <code> {{ buggy['armour'] }} </code> </p>
  </div>

  <div class="specs-table">
    {{ specs[2] | safe }}
  </div>
</div>

<div class="spec">
  <h3 class="spec-title">
    Types of offensive capability
  </h3>

  <div class="records">
    <p> <b> Your buggy: </b> <code> {{ buggy['attack'] }} </code> </p>
  </div>

  <div class="specs-table">
    {{ specs[3] | safe }}
  </div>
</div>

<div class="spec">
  <h3 class="spec-title">
    Types of race computer algorithm
  </h3>

  <div class="records">
    <p> <b> Your buggy: </b> <code> {{ buggy['algo'] }} </code> </p>
  </div>

  <div class="specs-table">
    {{ specs[4] | safe }}
  </div>
</div>

{% endblock %}
