{% extends "base.html" %}
{% block content %}

<style>
  .cs1999-tasks {
    border-top: 1px solid black;
    margin-top: 4em;
  }
  .cs1999-tasks .task {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
  }
  .cs1999-tasks .task h2 {
    border-bottom: 3px solid gray;
  }
</style>

<!-- see tech note about the poster:  
      https://rhul-cs-projects.github.io/CS1999-buggy-race-server/                -->
<!--                                                                              -->
<!-- anything you want here: make it beautiful! make it appealing! make it clear! -->
<!-- you can drop images into static/assets if you want... and access them        -->
<!-- here with <img src="/static/image-filename.png" alt="diagram" />             -->
<!--                                                                              -->
<!-- Of course you can edit static/app.css too if you want. It's your webserver,  -->
<!--                                                                              -->
<!-- Maybe... delete all these comments too :-)                                   -->


<!-- below this point keep this section tag and paste in a <div> for every        -->
<!-- task you attempted.                                                          -->

<section class="cs1999-tasks">
    <h1>Poster</h1>
    <div class="task">
        <h2>0-GET</h2>
        <p>
            I forked the repo on GitHub and then installed VSCode so I could edit and keep track of changes,
            after correcting an error I was able to access the source code.
        </p>
        <p>
            Once I installed VSCode and ran the automated file given to me, unfortunately I kept getting an error
            saying that the connection could not be established to the linux server. After digging aroudn in VSCode logs, 
            I noticed that an error kept popping up about a file not existing. I saw the path it kept trying to
            access, the program wanted to access and/or create an ssh key. So I created an empty 'config' file 
            on my local '.ssh' folder and added this path to VSCode's settings. This then allowed me to login 
            into the linux server after entering my password.
        </p>
    </div>

    <div class="task">
        <h2>0-RUN Get app running and view it in a browser</h2>
        <p>
            I installed the requirements, then ran the 'app.py' file.
        </p>
        <p>
            Once I was able to access the source code, I could then install the necessary requirements Python needed in
            order to run the entire app. Installation was straightforward and ran into no errors. Once that was done,
            I was able to run the 'app.py' file successfully and was able to display the webserver in my own browser. 
        </p>
    </div>

    <div class="task">
        <h2>0-CHANGE Make a change to a template and see it appear</h2>
        <p>
            I added a a button to the home webpage to redirect to the page of this 'poster' and the 'info' page. 
            I was then able to make my first commit and push it to the my GitHub repo.
        </p>
    </div>

    <div class="task">
        <h2>1-TEMPLATE Add a new template to the app</h2>
        <p>
            Info html file edited to display INFO.
        </p>
    </div>

    <div class="task">
      <h2>1-TEMPLATE Add a new template to the app</h2>
      <p>
        I added a button to home page which redirected to new 'info.html'. This page is an almagamation of all tables
        in the buggy server INFO page, the app scrapes the page in real time and renders it 'on-the-fly'. To do this,
        I installed the BeautifulSoup python library which is used to parse and navitage HTML files/webpages. 
        After only scraping sections of the webpage and removing the first (as this table only shows info regarding
        defaul values which were not needed). After which, I could then pass the tables as an argument to 'render_template'.
        But before they could be rendered, I had to edit the file stating that they were 'safe', as Flask, by default, assumes 
        all texts are 'unsafe' and not to be rendered as HTML, instead showing it as text.
      </p>
    </div>

    <div class="task">
        <h2>1-ADD Add more data to the form</h2>
        <p>
          I made the form as a table so that I could add rows for user to input information. With each correspoding attribute,
          I made sure the right type of data was being inupt, e.g., for integers I made sure to add to the HTMl 
          page that the type was 'number' and could only add in steps of '1' - ensuring only integers could be used as input. 
        </p>
        <p>
          
        </p>
    </div>


    <div class="task">
        <h2>
            1-VALID Add basic data validation
        </h2>
        
        <p>
          I added further in constraints to inputs in form, for example certain integers had to be at least 0 or 1, 
          so I added a min HTML attribute. Or when the input could only be a selection, so I coded for only specific 
          options avaiable, instead of simple adding a text box through which incorrect inputs could be added. 
          Of course, all of this is client-side form validation.
        </p>
        
        <p>
          I was able to add further constratint which relate to another form input, the number of tyres needing to be equal to or greater than
          the number of wheels. I was able to add this by adding javascript to the HTML file and running it when the submit button was
          clicked. An error message window pops up if this constraint is not met.

          I then had to make sure that is an option was empty, then to simply not push anything for that specific attribute to the DB, otherwise
          each time a space if left blank then it overwrites that attribute in the DB. But I then ran onto a problem: what about the
          boolean values? You cannot leave a check box "empty", as this would register as False, thus what would happen if a user wanted to change
          it from True ro false? If I put this code for the non-boolean values for booleans values then said variable would be 
          set to True once and then not be able to change them. To fix this, when redering the HTML file, Python would pass these
          values onto the HTML file and check them if DB passed true otherwise leave them alone, but ALWAYS being posted to DB.
          
        </p>  
    </div>

    
    <div class="task">
        <h2>
            1-STYLE Style your editor just how you like it
        </h2>
        
        <p>
          I decided to make a sidebar so that all buttons for each page would show up on each page and allow
          user to travel inbetween all pages instead of simply having ti click "Home" and then choose the page they 
          want to go to. To do this, I have to create a template for the side bar separately, that way I could just import
          it with each page rather than copy and paste it. Once that was completed, I edited the CSS file to ensure 
          everything worked well and there were no hitches. With everythin set in place, I just had to decide where to 
          add the files, and for that I decided to go to the "base.html" file, as all the webpages preload it, and that 
          way I did not have to edit every other page.  
        </p>
        
        <p>
          Currently, the "show-buggy" page does not load the CSS properly and I am not sure why. Will further investigate this
          problem.
        </p>
      </div>

<!-- this closes the section: keep it in! -->
</section>

{% endblock %}