<!--
    This file will be the side bar which will display in webpages,
    containing buttons to travel to other parts of the 'website'.
-->

<div id="sidebar">
    <div id="sidebar-buttons">
        <a href="/" class="button">Home</a>
        <a href="/create" class="button">Create a buggy</a>
        <a href="/delete" class="button">Delete a buggy</a>
        <a href="/edit" class="button">Edit buggy</a>
        <a href="/buggy" class="button">Show buggy</a>
        <a href="/info" class="button">INFO</a>
        <a href="/json" class="button">Get buggy JSON</a>
        <a href="/poster" class="button">Poster</a>
    </div>
</div>