{% extends "base.html" %}

{% block content %}

  <h1>Prices for each attribute</h1>

  <div name="spec">
    <h3>
      Types of motive power
    </h3>

    <div class="specs-table">
      {{ specs[0] | safe }}
    </div>
  </div>

  <div name="spec">
    <h3>
      Types of tyre
    </h3>

    <div class="specs-table">
      {{ specs[1] | safe }}
    </div>
  </div>

  <div name="spec">
    <h3>
      Types of armour
    </h3>

    <div class="specs-table">
      {{ specs[2] | safe }}
    </div>
  </div>

  <div name="spec">
    <h3>
      Types of offensive capability
    </h3>

    <div class="specs-table">
      {{ specs[3] | safe }}
    </div>
  </div>

  <div name="spec">
    <h3>
      Types of race computer algorithm
    </h3>

    <div class="specs-table">
      {{ specs[4] | safe }}
    </div>
  </div>

  </div>
  
  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
