{% extends "base.html" %}

{% block content %}

<h2> Your profile </h2>

{% for field, errors in form.errors.items() %}
  {{ ', '.join(errors) }}
{% endfor %}
<form name="loginForm" action="/profile/password" method="post">
	{{ form.csrf_token }}

  
	<table>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <tr class="flashes">
          <th colspan="2">
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </th>
        </tr>
      {% endif %}
    {% endwith %}

	  <tr>
      <th>
        <label for="current_password">Current Password:</label>
      </th>
      
      <th>
        {{ form.current_password }}
      </th>
	  </tr>

	  <tr>
      <th>
        <label for="new_password">New Password:</label>
      </th>
      
      <th>
        {{ form.new_password }}
      </th>
	  </tr>

    <tr>
      <th>
        <label for="new_password_check">Re-enter new Password:</label>
      </th>
      
      <th>
        {{ form.new_password_check }}
      </th>
	  </tr>
	</table>
  
  <div id="buttons">
    <a href="/" class="button">&lt Home</a>
    {{ form.submit(class="button") }}
  </div>
</form>

{% endblock %}
